.post-content
    .ui.grid
        .four.wide.column
            a(href="/posts?author=post.author._id", title="title" data-title="#{post.author.name}" data-content="post.author.bio").avatar 
                img(src="/img/conten.jpg", alt="").avatar
        .eight.wide.column
            .ui.segment
                h3 
                    a(href="/posts/#{post._id}#{post.title}", title="title").class 
                    //- pre=post.content
                div
                    //- span.tag #{post.created_at}
                    span.tag.right
                        //- span 瀏覽#{post.pv}
                        //- span 留言#{post.commentsCount}

                        //- if user && post.author._id && user._id.toString() === post.author._id.toString()
                        //-     .ui.inline.dropdown
                        //-         .text
                        //-         i.dropdown.icon
                        //-         .menu
                        //-             .item
                        //-                 a(href="/posts/#{post._id}/edit", title="title") 編輯
                        //-             .item
                        //-                 a(href="/posts/#{post._id}/remove", title="title") 刪除
                    
                                    